---
layout: layouts/base.njk
title: Niet gevonden
permalink: /404.html
---
<h1>Niet gevonden</h1>
<p>Deze pagina bestaat niet (meer). Misschien staat wat je zoekt bij <a href="/stukken/">alle stukken</a>.</p>
